.tabla-listado {
    width: 100%;
}

thead{
    background: #f8f8f8;
    z-index: 1;
}

tbody{
    background: white;
}

.tabla-listado th{
    font-weight: 600;
    text-align: center;
    border: 1px solid #e0dada;
    height: 40px;
    width: 100px;
    font-size: 18px;
}

.tabla-listado td img{
    width: 80px;
}

.tabla-listado td{
    height: 90px;
    padding: 5px;
    border: 1px solid #e0dada;
}

i {
    color: var(--acciones-color);  
    cursor: pointer;
    font-size: 20px; 
}

.acciones{
    width: 100px;
}
.acciones div{
    display: flex;
    justify-content: space-evenly;
} 
.acciones div i {
    font-size: 25px;
}

.c-tabla {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
  
.c-tabla table {
    border-collapse: separate;
    border-spacing: 0;
}

.c-tabla table thead {
    position: sticky;
    top: 0;
    left: 0;
}

.table-active {
    background: #6656fc50;
}